name: Update Copom

on:
  schedule:
    - cron: '0 0 * * 1' # Roda toda segunda-feira à meia-noite
  workflow_dispatch:   # Permite rodar manualmente clicando no botão no GitHub

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run data update script
        run: python update_copom_dates.py # Nome do seu script principal

      - name: Commit and Push changes
        run: |
          git config --global user.name 'Data Bot'
          git config --global user.email 'bot@noreply.github.com'
          git add calendario_copom.json
          git commit -m "Auto-update: Copom and Anbima data [skip ci]" || exit 0
          git push
